.plant.thumbnail.text-center
  = button_to("+", [:add_to_garden, plant], {method: :post, params: {garden_id: @garden.id} })
  = link_to(plant) do
    = image_tag("http://lorempixel.com/g/150/150/food/",:alt => plant.name)
    %h4.plant__title.caption= plant.name